/* -- Font -- */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  font-family: 'Roboto', sans-serif;
}

/* -- Main Styling -- */

body {
  max-width: 1000px;
  margin: auto;
  background-color: #1b1027;
  color: white;
}

header {
  text-align: center;
}

.content {
  margin-left: 70px;
  margin-right: 70px;
}

footer {
  text-align: center;
}