---
---

// Headers
$header-heading-color: #9965ee;
$header-bg-color: #0b2040;
$header-bg-color-secondary: #370b40;

// Text
$section-headings-color: #122c75;
$body-text-color: #6c536e;
$body-link-color: #b446b8;
$blockquote-text-color: #817a91;

// Code
$code-bg-color: #f3f7fa;
$code-text-color: #8c71a3;

// Borders
$border-color: #efdcf0;
$table-border-color: #ece9ec;
$hr-border-color: #f1eff1;

@import "{{ site.theme }}";

body {
    font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.responsive {
    width: 75%;
    height: 0;
    padding-bottom: 42.1875%;
    position: relative;
}

.responsive iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}
