---
---

// Headers
$header-heading-color: #eea765;
$header-bg-color: #40200b;
$header-bg-color-secondary: #36400b;

// Text
$section-headings-color: #754a12;
$body-text-color: #6e6853;
$body-link-color: #b87446;
$blockquote-text-color: #918b7a;

// Code
$code-bg-color: #faf6f3;
$code-text-color: #a38571;

// Borders
$border-color: #f0e7dc;
$table-border-color: #ecebe9;
$hr-border-color: #f1f1ef;

@import "{{ site.theme }}";

body {
    font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.responsive {
    width: 75%;
    height: 0;
    padding-bottom: 42.1875%;
    position: relative;
}

.responsive iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}
